.login-full {
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login-in-box {
  display: flex;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
  width: 1000px;
  background: #fff;
  min-height: 500px;
  height: 600px;
}
.login-left-panel {
  max-width: 50%;
  flex: 1 1 50%;
  padding: 2rem 3rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.login-health-hp h2 {
  font-weight: 800;
  font-size: 2.3rem;
  font-family: "SamsungOne", arial;
}
.login-health-hp p {
  font-size: 13px;
  font-family: "SamsungOne", arial;
}

.sam-font  {
    color: rgb(33, 37, 41); 
} 
.fas {
    color: rgb(33, 37, 41);
}
.text-center {
  text-align: center !important;
  border-radius: 5px;

}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.login-btn {
  background-color:rgb(33, 37, 41);
  width: 100%;
  margin-top: -8px;
  color: #fff !important;
}
.sam-title-font {
  font-family: SamsungSharpSans, arial;
}
.mt-3,
.my-3 {
  margin-top: 1rem !important;
}
.get-start-acc {
  position: absolute;
  bottom: 1rem;
}
.login-right-panel {
  max-width: 50%;
  flex: 1 1 50%;
  background-image:url(../../Img/haicutgirl10.jpg);
  background-size: cover;
    color: #fff;
    position: relative;
    background-position-x: center;
    padding: 2rem;
  background-repeat: no-repeat;
}
/* .login-image{
  width: 113.5%;
  height: 112.25%;
  margin-top: -7.5%;
  margin-left: -6%;
} */
@media only screen and (max-height: 500px) {
  .login-full {
    height: 100vh;
  }
}
@media only screen and (min-width: 992px) {
  .form-full-ep {
    width: 88%;
  }
}
@media only screen and (max-height: 699px) and (max-width: 992px) and (min-height: 600px){
.login-left-panel {
    padding-top: 6rem;
}
}
@media only screen and (max-width: 992px){
.login-left-panel {
    text-align: center;
    max-width: 100%;
    flex: 1 1 100%;
    justify-content: start;
    position: inherit;
    padding: 2rem 0 0;
    
}
}
@media only screen and (max-width: 992px){
.login-right-panel {
    display: none;
}
}
@media only screen and (max-width: 992px){
.login-full {
  background-image:url(../../Img/ren.png); 
    background-repeat: no-repeat;
    background-position-y: top;
    align-items: start; 
    background-color:white;
    background-size: 97% 15%;
    background-position: right 10px;
}
}
@media only screen and (max-width: 992px){
.login-in-box {
    width: 100%;
    max-width: 400px;
    background: transparent;
    box-shadow: unset;
    min-height: 83vh;
    height: 83%;
}
}
@media only screen and (max-width: 600px){
.login-in-box {
    max-width: 100%;
    margin-top: 62%;
}
}
@media only screen and (max-width: 600px){
.form-full-ep {
    padding: 0 2.4rem;
}
}
@media only screen and (max-width: 992px){
.form-full-ep {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}
@media only screen and (max-width: 992px){
.form-full-ep>.form-group {
    width: 100%;
}
}
@media only screen and (max-width: 992px){
.btn-link-log {
    width: 75%;
    
}
}
@media only screen and (max-width: 600px){
.get-start-acc {
    display: flex;
    align-items: center;
    justify-content: center;
}
}
@media only screen and (max-width: 992px){
  .sam-font {
    color:#fff;
}
 a{
  color:black !important;
}
.get-start-acc {
    width: 100%;
    background: black;
    color: #fff;
    position: absolute;
    bottom: 0;
    height: 2.6rem;
    /* margin: auto 0 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0%;
}
}