.img-size
{
    width:100%;
}
#video-bg-elem{
    position: absolute;
    z-index: -1;
}
.ca
{
    font-size: 1rem;
    color: #101928;
    font-weight: 600;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
}
.booking
{
    color: #101928;
    font-size: 48px;
    font-weight: lighter;
}
.slp
{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.er
{
    padding-right: 2rem;
  
}

.input-text
{
    
    width: 27rem;
    height: 3.5rem;
    font-size: 19px;
    padding-left: 53px;
    border: none;
    background-color: #80808021;
}
.search-section
{
  
    margin-bottom: 1rem;
    display: flex;
    margin-left: 11px;
}
.search-field
{
    height: 184px;
    overflow: hidden;
}
.res-img
{
    width: 46px;
    border-radius: 35px;
    height: 46px;
    margin-right: 22px;
}
.iot
{
    font-size: 1rem;
}

.input-text:active
{
    
    
    height: 3.5rem;
    font-size: 19px;
    border: none;
      box-shadow: none !important;
    background-color: #80808021;
}
.input-text:hover
{
    
    
    height: 3.5rem;
    font-size: 19px;
    border: none;
      box-shadow: none !important;
    background-color: #80808021;
}
.btn-primary1 {
    color: #fff;
    background-color: #F89C1B;
    border-color: #F89C1B;
    padding: 7px 30px 7px 30px !important;
    height: 3.5rem;
    font-size: 1.5rem;
}

.input-text:focus
{
    
    
    height: 3.5rem;
      box-shadow: none !important;
    font-size: 19px;
    border: none;
    background-color: #80808021;
}
.popover {

max-width: 100%;
    width: 26.5%;
    position: absolute;
    left: initial;
    margin: auto;
    height: 18rem;
    left: 46px;
}

.aws
{
    position: absolute;
    background-color: transparent;
    height: 47px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: -1px;
    padding-left: 5px;
    border-radius: 54pz;
    border-radius: 5px;
}
.ic
{
    font-size: 1.8rem;
    color: #aba3a3;
}
    
.ka {

    text-align: center;
   
    margin-left: 13px;
    margin-bottom: 18px;
    border-radius: 6px;
    color: #101928;
}

   

.bs-popover-bottom {
    margin-top: 0.5rem;
}
.popover .arrow {

display:none;
}
.header-title
{
    font-weight: 700;
    color: #101928;
    font-size: 21px;
    margin-top: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}
.category
{
    display:flex;
    flex-wrap: wrap;

  
}
.marg
{
    margin-top:2rem;
}
.address
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 5px;
 font-weight: 400;
    color: rgba(16, 25, 40, 0.5);
}
.navbar-expand-lg .navbar-nav .nav-link:hover
{
    
    color: rgba(16, 25, 40, 0.5);
}
.star
{
    width: 100px;
    height: 25px  !important;
}

.rating
{
    text-overflow: ellipsis;
    padding-left: 11px;
 font-weight: 400;
    color: rgba(16, 25, 40, 0.5);  
}

.Expert-Service
{
    font-weight: 800;
    margin-bottom: 2rem;
  
}

.Reliable
{
    font-size: 1.3rem;
    margin-bottom: 3rem;
    margin-top:1.2rem
}
.selection-section{
    border-bottom: 1px solid #8080805c;
    align-items: center;
    padding-top: 1rem;

}

.search-field-f {
    height: 243px;
    width: 100%;
    overflow: hidden;
}

.alignItem
{
    align-items: center;
}
.search-input-i
{
     outline: 0;
     font-size: 16px;
     padding-left: 52px;
     border-radius: 7px 0px 0px 7px;
     box-sizing: border-box;
     width: 100%;
     width: 27rem;
     height: 50px;
     border: none;
}
.loc-fas
{
    font-size: 19px;
    position: relative;
    left: -12px;
    color: gainsboro;
}

.but-loc-i
{
    position: relative;
    right: -13rem;
    font-size: 19px;
    bottom: 16px;
    color: gainsboro;
    top: 2px;

}
.btn-primary:focus {
    box-shadow:none;
}
.btn-search-i
{
    outline: 0;
    font-size: 17px;
    padding: 5px 10px 9px 7px !important;
    border-radius: 0px 7px 7px 0px;
    box-sizing: border-box;
    border-left: 1px solid #80808059 !important;
    text-align: left;
    width: 100%;
    background-color: white !important;
    width: 12rem;
    height: 50px;
    color: #00000073 !important;
    border: none;
}
.popsearch-p {
    width: 27rem;

    /* left: -1px !important; */
}

.Se-cl
{
 
 
}
.Se-cl1
{

   
}
.map-j
{
    display: flex;
    flex-wrap: wrap;
    color:grey;
}

.map-p .modal-dialog {
    max-width:100%;
    margin: 0;
}

.sub-map-j
{
    text-align: center;
    padding-right: 1rem;
    cursor: pointer;
}
.p-pl
{
    margin-bottom: 6rem;
    margin-top: 3rem;
}
.uy
{
    position: relative;
    left: 29px;
}

.drp-map
{
    background: white !important;
    outline: none !important;
    border: none !important;
    margin-left: -8px !important;
    height: 50px !important;
    width: 9rem;
    padding-right: 3px !important;
    color: grey !important;
    padding-top: 12px !important;
    transition: none !important;
}
.mobile-fle
{
    display:flex;
}
.mlj
{
    margin-bottom: 3rem;
}
.mb-num
{
    margin: 0;
    position: absolute;
    padding-top: 11px;
    padding-left: 8px;
}
.bt-mob
{
    background-color: #FF9800;
    outline: none;
    border: none;
    color: white;
    padding: 11px;
}

.mobile
{
    width: 27rem;
}
.drp-map:focus {
    box-shadow: none !important;
}
.s-m-b
{
    border-top: 1px solid #80808030;
  
    padding-top: 2rem;
    margin-top: 4rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #80808030;
}
.klo
{
    display: flex;
   
    justify-content: center;
    align-items: center;
}
.Se-bck
{
    background-color: #00000057 !important;
    color: white !important;
    height: 76.5vh;
    display: flex;

    justify-content: center;
    align-items: center;
}

.send
{
    margin: 0;
    font-size: 14px;
    color: #646464;
    font-weight: 600;
}
.download
{
    font-weight: 600 !important;
    margin-bottom: 14px;
}
.Typist 
{
    font-size: 3.7rem;
    font-weight: 800;
}
.ios
{

    width: 20rem;
    height: 71px;
    margin-top: 4rem;
}
.que .navbar
{
    height: 8.5vh;
    position: fixed;
    width: 100%;
    top: 30px;
    background-color: white;
    z-index: 9999;
    border: 1px solid #8080804a;
}

.que1 .navbar
{
    height: 8.5vh;
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: white;
    z-index: 1;
    z-index: 9999;
    border: 1px solid #8080804a;
}


.eg
{
    font-size: 14px;
    padding-top: 5px;
    position: absolute;
}


.m-r-a
{
    color: gray;
    position: absolute;
    left: 27px;
    margin-top: 4px;
    font-size: 8px;
    height: 42px;
    z-index: 0;

}

.js
{
    justify-content: center;
}
.m-po-e
{
    margin-left: -10px;
}

.country-h1
{
    font-weight: 600;
    margin-bottom: 2rem;
}
.ind
{
    color:grey
}

.sub-map-j:hover
{
    color: black;
}

.sub-map-j:focus
{
    color: black;
}
.sub-map-j:active
{
    color: black;
}

@media (min-width: 992px)
{
.containers-p {
    max-width: 1496px !important;
}

}


/*  */
.popupsignup .modal-dialog
{
    max-width:500px;
    top:45%;
    transform: translateY(-50% );
}


.renimg
{
    width: 191px;
    margin-bottom: 1.5rem;
    
    margin-top: 1.5rem;
}
.pop-sign-main
{
    text-align: center;
}
.pop-sign-main h1
{
    margin: 0;
}

.io-svg

{
    color: green;
    margin-right: 6px;

}
.enjoy
{
    font-weight: 700;
}
.learnwhy
{
margin-top: 1.5rem;
margin-bottom: 1.5rem;
font-size: 17px;
font-weight: 100;
color: grey;
cursor: pointer;
}
.btn-sign-up-pa a{
    color: white ;
}
.alred-text
{
    text-align:center;
    margin-top:1rem;
}

.sing-cotent
{
    display:flex;
    justify-content: start;
}

.learnwhy1 {
    margin-top: 0;
    margin-bottom: 2.5rem;
    font-size: 17px;
    font-weight: 100;
    color: grey;
    cursor: pointer;
}
.login-text{
    color: rgb(33, 37, 41);
}

.btn-sign-up-pa
{
    background-color:  rgb(33, 37, 41);
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    color: white;
    margin-top: 1rem;
}


.sing-min-page-text
{
    margin: auto;
    width: 350px;
}

.btn-sign-up-pa1 {
    background-color:  rgb(33, 37, 41);
    /* width: 100%; */
    padding: 10px;
    border: none;
    margin-top: 2rem;
    color: white !important;
    outline: none;
    margin-bottom: 2rem;
  }

.search-location-bar
  {
    font-size: 21px;
    bottom: -9px;
    color: gainsboro;

  }


  .img-location
  {
    height: 35px;
    position: relative;
    padding-right: 10px;
  }

  .container-pp {
    height: 100vh;
}
  .Section {
    overflow: hidden!important;
    -webkit-transform: translateZ(0)!important;
    transform: translateZ(0)!important;
}

.main-d-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lolk {
    margin-top: 6rem;
}

@media (min-width: 1300px)
{
.lolk {
    max-width: 1240px!important;
}
}