.sh
{
    /* font-weight: bold; */
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
}
.carousel-inner {
    position: relative;
    /* width: 135%; */
    overflow: hidden;
}
.carousel {
    position: relative;
    width: 135%;
}
.weekdays
{
   display:flex;
}
.ifr
{
    width: 500px;
    height: 500px;
}
.tr
{
    display:flex;
    
    padding-top: 1.5rem;
}
.pg
{
    padding-right: 1.2rem;
    text-align: center;
}
.kl
{
    padding-top:7rem;
}
.footer-section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-section1
{
    display: flex;
    align-items: center;
}
.ht
{
    height: 4rem;
}
.stick
{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}
.modal-dialog {
    
    max-width: 1100px;
    }
    .mj
    {
        height: 500px;
        overflow-y: scroll;
    }
    .serv
    {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #ded0d0;
        padding-left: 1rem;
        padding-right: 1rem;

    }
.ps
{
   
    font-size: 18px;
    color: grey;
    text-align: right;
    width: 100%;
}
.yt
{
    position: absolute;
    bottom: 20px;
    left: 18px;
}
.ps1
{
    font-size: 18px; 
    color: grey;
}
.modal-content
{
   /* height: 772px;  */

}
.sel
{
    position: relative;
    width: 29rem;
    top: -40px;
    background-color: white;
    padding: 3rem;
    box-shadow: 0 1px 16px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
}
.sv
{
    padding-right: 11px;
    font-size: 18px;
 
    padding-right: 11px;
}
.io
{
    width: 100%;
}
.d-t
{
padding:6rem;
}
.ad {
    font-size: 18px;
    color: grey;
}
.detail
{
    padding: 0;
    background-color: #b6b3b326;
    display: flex;
    justify-content: center;
    align-items: center;

}

.country-pro
{
    width:7rem;
}

.btn-primary {
    color: #fff;
    background-color: #F89C1B;
    border-color: #F89C1B;
    padding: 14px 30px 14px 30px;
}
.star
{
    width: 100px;
    height: 18px;
}

.custom-checkbox  {

    width: 100%;
  }

.custom-checkbox input {
    display: none;
    width: 100%;
  }
  
  .custom-checkbox span {
    border: 3px solid #7e8a94;
    float: right;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-checkbox:hover span,
  .custom-checkbox input:checked + span {
    border: 3px solid #43D8B0;
  }
  
  .custom-checkbox input:checked + span:before {
    content: "✔";
  }

.timeing-sec
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #80808054;
    margin-top: 1rem;
}
.mnm 
{
    cursor:pointer;
}