.list-styling-sec
{
    border: 1px solid;
    width: 300px;
    padding: 11px;
    text-align: center;
    font-size: 16px;
    list-style: none;
    margin-top: 1rem;
}

.list-group-item-action:active {
    color: #f99c1b;
    border-color: #f99c1b;
    background-color: white;
}
.list-group-item-action:focus
{
    color: #f99c1b;
    text-decoration: none;
    border-color: #f99c1b;
 
}
.but-nxt
{
    width: 300px;
    margin-top: 2rem;
    padding: 1rem;
    background-color: orange;
    border: none;
    color: white;
    font-size: 20px;
}
.stylingcss
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    text-align: center;
}

.list-g
{
    margin:auto;
    width:300px;
    margin-top:2rem;
}
.stylingcss button:focus {
    outline: 1px dotted;
    outline: 5px auto #f99c1b;
}


#video-bg-elem
{
    position: absolute;
    top: -54px;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
}

.background-wrap
{
    height: 100%;
   
    overflow: hidden;
}