
/* .phototrading
{
    margin-right: 4px;
} */


.header-title-photo {
    font-weight: 700;
    color: black;
    font-size: 19px;
    margin-top: 0px;
    overflow: hidden;
    margin-bottom: 0;
    width: 81%;
  
}

.carousel-button-group
{
    position: absolute;
}

.disable
{
    display:none
}
.img-detail
{
  height: 205px;
  border-radius: 7px 7px 0 0;
}


.lolk
{
        /* margin-top: 2rem; */
}
.loltrading
{
    /* margin-top: 3.7rem;
    margin-bottom:2rem; */
}
.loltrading h3
{
    margin-bottom: 1.5rem;
}


.lolk h3
{
    margin-bottom: 1.5rem;
}

.bor-lolk {
  height: 205px;
  background-color: #fff;
  border-radius: 0 0 17px 17px;
  border: 1px solid hsla(0,0%,50.2%,.19);
  padding-top: 1.4rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.categortytitle
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.categortytitle p
{
    cursor: pointer;
    margin-bottom: 2rem;
    font-size: 1.2rem;

}

.categortytitle h3
{
   font-weight: bold;

}

.categroydiv
{
    padding-right: 8px ;
    padding-left: 8px;
}


.heart-eye-section
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.heart-eye-section span
{
    margin-left: 6px;
}

.main-heart-eye-section
{
    position: absolute;
    bottom: 2rem;
    right: 17px;
    color: #808080ba;
}

   
.pretty-lk {
  position: relative;
  display: inline-block;
  margin-right: 1em;
  white-space: nowrap;
  line-height: 1;
  left: 84%!important;
  top: -175px!important;
}

.pretty-lk.p-icon input:checked~.state .icon {
    opacity: 1;
    font-size: 1rem !important;
    color: #f99c1b !important;
}
.pretty-lk.p-toggle .state.p-off .icon {
  color: #bdc3c7;
  font-size: 1rem !important;
}
.pretty-lk input {
  position: absolute;
  left: 0;
  top: 0 !important;
  min-width: 1em;
  width: 16px;
  height: 15px;
  z-index: 2;
  opacity: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.main-heart-eye-section1 {
    position: absolute;
    bottom: 2.5rem;
    right: 17px;
    color: #808080ba;
}
.paragraph-text
{
  font-size: 16px !important;
    color: #808080ba;
    position: relative;
    
}

.pretty-lk.p-toggle input:checked~.state.p-off {
  opacity: 0;
  display: none;
}
.pretty-lk.p-toggle input:checked~.state.p-on {
  opacity: 1;
  display: inherit;
}
.pretty-lk.p-toggle .state.p-on {
  opacity: 0;
  display: none;
}
.pretty-lk.p-toggle .state.p-off {
  opacity: 1;
  display: inherit;
}
.pretty-lk.p-toggle .state .icon {
  opacity: 1;
  display: inherit;
}
.pretty-lk.p-icon .state .icon:before {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
}


@media (min-width: 576px)
{
.col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 20%;
    max-width: 20.666667%;
}
}



.containerimage .title{
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 7px;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
    border-radius: 7px;
    height: 205px;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h5{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    word-break: break-all;
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }
  

  .fadeIn-left{
    left: 20%;
  }




  /* tranding location */
  .StoryImage-gallary
  {
    width:100%;
  }
  .cust-modal .modal-dialog {
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}
.img-story-cust
{

  height: 600px;
  max-width: 500px;
    width: 500px;
}
.cust-modal .carousel-indicators
{
  top:3px;
  margin: 0;
  height: 0px;
}
.carousel-inner
{
  max-width: 500px;
}
.cust-modal .carousel-control-prev
 {
  display:none;
}
.cust-modal .carousel-control-next
{
  /* display:none; */
  display:none;
}
.cust-modal .modal-body
{
  padding:0;
}
.cust-modal .modal-content
{
  background-color: transparent;
  border: none;
}

.cust-modal .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 0px;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
.cust-modal .carousel-item {
  transition: opacity 400ms ease-in-out 0s !important;
  overflow: hidden;
}
/* .containerimage
{
  height:2005px;
} */


/* .carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 85px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;

  opacity: .2;
 


} */
.cust-modal .carousel-indicators .active {
  /* opacity: 1; */
 
 
  /* transition: all 6s linear;
  transform: translateX(0px) rotate(0deg); */

}
.cust-modal .carousel-indicators li
{
  /* background-color: #f99c1b; */
  /* width: 85px;

  height: 3px; */

    border-top: 0px solid transparent;
    border-bottom: 2px solid transparent;




  width: 87px;
  background: linear-gradient(to right,  #f99c1b 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .0s ;
  opacity: 1 !important;
}

/* .carousel-indicators li {
  background-color: #669966;
} */

.cust-modal .carousel-indicators .active {
  background-position: left bottom;
  transition: all 5s ; 
  /* animation:aaaaa 5s linear;
  width: 85px; */
  opacity: 1 !important;

}
.ct-ti
{
  text-align: center;
  width:100%;
}

.clickedit
{
 
  color: black;
 
  -webkit-animation: mymove 2s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 2s;
  animation-iteration-count: infinite;

  }
  @-webkit-keyframes mymove {
    from { color: black;}
    to {  color: #c5c5c5;}
  }
  
  @keyframes mymove {
    from { color: black;}
    to { color: #c5c5c5;}
  }