
.mainmobile
{
    display: flex;
    justify-content: center;
    height: 70vh;
    text-align: center;
    padding-top: 4rem;
    align-items: center;
    padding-bottom: 13rem;
}
.mainmobile h1
{
    font-weight: 600;
}
.barimg
{
    width:6rem;
    margin-bottom: 2rem;
}
.mbmp
{
    
 
}
.imgbar
{
    display: flex;
    justify-content: center;
    align-items: center;
}



.btn-org
{
    background-color:black;
    border: none;
    padding: 10px 15px 10px 15px;
    color: white;
    margin-right: 1.2rem;
}


.btn-white
{
    background-color: white;
    border: none;
    padding: 10px 23px 10px 23px;
    color: #f99c1b !important;
    border:1px  solid #f99c1b;
}


.mainmobile p
{
    margin-bottom: 2rem;
}

.submobile
{

    text-align: center;
    height: 30vh;
    background-color: #8080800f;
}
.submobile p
{
    margin-top: 1rem;
    color: grey;
}
.submobile h3
{
    padding-bottom: 2rem;
    color: grey;
    padding-top: 5rem;

}
.fs1
{
    font-size: 2.5rem;
    color: pink;
}
.fs2
{
    font-size: 2.5rem;
    color: green;
}
.fs3
{
    font-size: 2.5rem;
    color: red;
}


.barimgmain
{
    width: 80%;
    position: relative;
    top: -11rem;
}
.mbmp
{
    width:100%;
    height:100vh;
    padding-top: 3.5rem;
}
.barimg-done{
    height: 13px;
}