
.c-model .modal-dialog {
    max-width: 500px;
    height: 500px;
    overflow: hidden;
}
.c-list:hover {
    color:#f99c1b !important;
    cursor: pointer;
}
.c_list_section
{
    display:flex;
    align-items: center;
}

.contained-modal
{
    margin-top: 15%;
    align-items: center;
}
.c_list_section p
{
   margin: 0;
   margin: 0;
   font-size: 14px;
   font-weight: 700;
   padding-left: 14px;
}
.mlm
{
    background-color: #f4f4f4;
}
.so-img
{
    width: 52px;
    height: 37px;
}
.yre
{
    justify-content:space-between;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.category-Main_section
{
    background-color: #f4f4f4;
    height: 23.5vh;
    justify-content: center;
    align-items: center;
    display: flex;
  
}

.impu-moble
{
    width: 70%;
    padding-left: 8%;
    margin-right: 3%;
    border: 1px solid #949494;
}
.mnm
{
   /* color: gray; */
    font-size: 17px;

    margin-top: 10px;
}
.i-p-o 
{
    width: 90px;
    margin-bottom: 5px;
    height: 85px;
}


.c-list svg
{
    width: 81px;
    height: 75px;
}