.tx

{
  
        height: 2.5rem;
        font-size: 19px;
        border: none;
        padding-left: 31px;
        box-shadow: none !important;
        background-color: #80808021;
    
}
.search-section-fliter
{
    display:flex;
}
.ic1 {
    font-size: 1.2rem;
    color: #aba3a3;
}
.drps
{
    display: flex;
    padding-left: 30px;
    margin-top: 13px;
}
.drps .dropdown
{
padding-right: 22px;
}

.ka-sea .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    height: 100px;
}
.ka-sea .navbar
{
    align-items: baseline!important;
}
.qw1
{
    margin-right: 40px;
    margin-left: 2rem;

}

.ka-sea
{
    border-bottom: 1px solid #0000002b;
    height: 126px;
    margin-bottom: 4rem;
}
.ka-sea .dropdown-menu {
    position: absolute;

        position: absolute;
        left: -58px;
        top: 53px;
    
}
.drp-p {
    background-image: url('../../Img/meen.png');
    background-position: top;
    background-size: 45px;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding-left: 26px;
}

.aws1
{
    position: absolute;
    background-color: transparent;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: -1px;
    padding-left: 5px;
    border-radius: 54pz;
    border-radius: 5px
}
.search-section-fliter .input-text:hover {
    height: 2.5rem;

}

.search-section-fliter .input-text {
    height: 2.5rem;
}

.search-section-fliter .aws
{
    height: 2.5rem;
}

.search-section-fliter .fas {
    font-weight: 900;
    font-size: 1.5rem;
}

.drps .btn-primary {
    color: #fff;
    background-color: #F89C1B;
    border-color: #F89C1B;
    padding: 5px 15px 5px 15px !important;
}