.f-t
{
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    width: 100%;
}
.f-t-main
{
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
    -webkit-justify-content: flex-end;
 
}
.f-t-main p
{
    color: rgba(16, 25, 40, 0.5);
    cursor: pointer;
    font-size: 14px;
}
.f-t p
{
    color: rgba(16, 25, 40, 0.5);
    padding-left: 22px;
}
.f-t-w
{
    width: 100%;
}