.mobilelanding{
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   height: 100vh;
   .topnav{
     background: #252525;
     height: 6rem;
     display: flex;
     align-items: center;
     justify-content: center;
   }
   .bottomnav{
     display: flex;
     width: 100%;
     justify-content: space-between;
     height: 5rem;
     align-items: center;
     border-top: 1px solid #00000026;
     padding-left: 5%;
   padding-right: 5%;
   img{
      cursor: pointer;
   }
   }
.Home{
   display: flex;
   width: 90%;
   flex-direction: column;
   align-items: center;

    p{
       font-family: Montserrat;
       font-style: normal;
       font-weight: normal;
       font-size: 18px;
       line-height: 34px;
       display: flex;
       align-items: center;
       text-align: center;
       color: #252525;
       margin-top: 3rem;
       margin-bottom: 3rem;
    }
    .download{
       font-family: Montserrat;
       font-style: normal;
       font-weight: 600;
       font-size: 20px;
       line-height: 24px;
       display: flex;
       align-items: center;
       text-align: center;
       color: #252525;
       width: 315.67px;
       height: 74.67px;
       left: 49.17px;
       top: 486px;
       border: 0.5px solid #252525;
       background: #FFFFFF;
       justify-content: center;
       margin-bottom: 0;
       cursor: pointer;
       &:hover{
        transform: scale(1.01);
        font-size: 21px;
       }
    }
    .process{
       font-family: Montserrat;
       font-style: normal;
       font-weight: 600;
       font-size: 20px;
       line-height: 24px;
       display: flex;
       align-items: center;
       text-align: center;
       margin-bottom: 0;
       cursor: pointer;
       margin-top: 2rem;
       color: #FFFFFF;
       width: 315.67px;
       height: 74.67px;
       left: 49.17px;
       top: 486px;
       border: 0.5px solid #252525;
       background: #252525;
       justify-content: center;
       &:hover{
        transform: scale(1.01);
        font-size: 21px;
       }
    }
}   

.SelectDevice{

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  .divsub{
     padding-left: 5%;
   padding-right: 5%;
  }
    h1{
       font-family: Montserrat;
       font-style: normal;
       font-weight: 600;
       font-size: 35px;
       line-height: 45px;
       display: flex;
       align-items: center;
       color: #252525;
margin-bottom: 2.5rem;
       border-bottom: 2px solid #252525;
       width: 15rem;
       padding-bottom: 0.8rem;
    }
    label{
       font-family: Montserrat;
       font-style: normal;
       font-weight: 600;
       font-size: 18px;
       line-height: 22px;
       display: flex;
       align-items: center;
       text-align: center;
       color: #252525;
       border: 0.25px solid #252525;
       width: 100%;
       height: 5rem;
       padding-left: 5%;
       margin-top: 1rem;
       img{
           margin-right: 0.9rem;
       }
       &:hover{
        transform: scale(1.01);
        font-size: 19px;
        img{
           transform: scale(1.01);
        }
       }
    }
}

.SelectMethod{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  .divsub{
     padding-left: 5%;
   padding-right: 5%;
  }
   h1{
       font-family: Montserrat;
       font-style: normal;
       font-weight: 600;
       font-size: 35px;
       line-height: 45px;
       display: flex;
       align-items: center;
       color: #252525;
margin-bottom: 2.5rem;
       border-bottom: 2px solid #252525;
       width: 14rem;
       padding-bottom: 0.8rem;
    }
    label{
       font-family: Montserrat;
       font-style: normal;
       font-weight: 300;
       font-size: 18px;
       line-height: 22px;
       display: flex;
       align-items: center;
       text-align: center;
       color: #252525;
       border: 0.25px solid #252525;
       width: 100%;
       height: 5rem;
       padding-left: 5%;
       margin-top: 1rem;
      &:nth-child(3){
          opacity: 0.4;
      }
      &:hover{
        transform: scale(1.01);
        font-size: 19px;
        img{
           transform: scale(1.01);
        }
       }
    }  
}
.SelectLocation{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  .divsub{
     padding-left: 5%;
   padding-right: 5%;
  }
   h1{
       font-family: Montserrat;
       font-style: normal;
       font-weight: 600;
       font-size: 35px;
       line-height: 45px;
       display: flex;
       align-items: center;
       color: #252525;
margin-bottom: 2.5rem;
       border-bottom: 2px solid #252525;
       width: 15rem;
       padding-bottom: 0.8rem;
    }
    label{
       font-family: Montserrat;
       font-style: normal;
       font-weight: 300;
       font-size: 18px;
       line-height: 22px;
       display: flex;
       align-items: center;
       text-align: center;
       color: #252525;
       border: 0.25px solid #252525;
       width: 100%;
       height: 5rem;
       padding-left: 5%;
       margin-top: 1rem;
       &:hover{
        transform: scale(1.01);
        font-size: 19px;
        img{
           transform: scale(1.01);
        }
       }
    }  
}
.final{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  .divsub{
     padding-left: 5%;
   padding-right: 5%;
  }
   h1{
       font-family: Montserrat;
       font-style: normal;
       font-weight: 600;
       font-size: 35px;
       line-height: 45px;
       display: flex;
       align-items: center;
       color: #252525;
margin-bottom: 2.5rem;
       border-bottom: 2px solid #252525;
       width: 15rem;
       padding-bottom: 0.8rem;
    }
    .cipboard{
       border: 0.5px solid #252525;
       display: flex;
       height: 6rem;
       align-items: center;
       justify-content: space-between;
       width: 100%;
       margin-top: 4rem;
       padding-left: 5%;
       padding-right: 5%;
       p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        /* display: flex; */
        align-items: center;
        color: #252525;
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 64%;
        height: 1.2em;
        white-space: nowrap;
       }
    }
    .cipboardtrue{
     border: 0.5px solid #6669B0;
     display: flex;
     height: 6rem;
     align-items: center;
     justify-content: center;
     width: 100%;
     margin-top: 4rem;
     padding-left: 5%;
     padding-right: 5%;
     p{
         font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 15px;
display: flex;
align-items: center;

color: #6669B0;
margin: 0;
     }
  }
  .finalbotton{
     height: 5rem;
     display: flex;
     align-items: center;
     border-top: 1px solid #252525;
     justify-content: space-between;
     .subone{
        width: 15%;
      
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; 
     }
     .subsec{
        width: 85%;
   background: #252525;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 24px;
   display: flex;
   align-items: center;
   text-align: center;
   
   h4{
      margin: 0;
      font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: #FFFFFF;
   }
     }
  }
}
}