.App-contianer{
  height: 100vh;
}







.sss .modal-dialog {
  max-width: 500px !important;
}
.btn-primary:hover {
  color: #fff;
  background-color: #F89C1B;
  border-color: #F89C1B;
  padding: 14px 30px 14px 30px;
}

.btn-primary:active{
  color: #fff;
  background-color: #F89C1B;
  border-color: #F89C1B;
  padding: 14px 30px 14px 30px;
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #F89C1B;
  border-color: #F89C1B;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow:none;
}

.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #F89C1B;
}
.navbar-dark .navbar-nav .nav-link:focus{
  color:#101928;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color:#101928;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.hello
{
  width: 26px;
}
.form-control:focus {
  color: none;
  background-color: #fff;
  border-color:#F3F3F3;
  outline: 0;
  box-shadow: none;
}
.inpu
{
  margin: 0;
  padding: 8px 35px 8px 35px;
  border: 1px solid #F3F3F3;
  background-color: #F3F3F3;
  transition: background-color 200ms;
  font-size: 18px;
  font-weight: 400;

  width: 36rem;
  height: 47px;
}
.inpu1
{
  margin: 0;
  padding: 8px 35px 8px 35px;
  border: 1px solid #F3F3F3;
  background-color: #F3F3F3;
  transition: background-color 200ms;
  font-size: 18px;
  font-weight: 400;
width: 25rem;
  height: 47px;
}
.back
{
  width: 29px;
}

.popsearch {
 
  width: 35.5rem;
  left: -1px !important;
  
}

.popsearch1 {
 
  width: 25.5rem;
  left: 1px !important;
  
}
.footer-section {

  padding-left: 3.7rem;
}
.category1 {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}


.bt1 {
  color: #fff;
  background-color: #F89C1B;
  border-color: #F89C1B;
  padding: 5px 30px 7px 30px !important;
  font-size: 18px;
 height: 47px;
}


@media only screen and (min-width:990px) and (max-width:1200px)
{

  .inpu {
      margin: 0;
      padding: 8px 35px 8px 35px;
      border: 1px solid #F3F3F3;
      background-color: #F3F3F3;
      transition: background-color 200ms;
      font-size: 18px;
      font-weight: 400;
      width: 27rem;
      height: 47px;
  }
  .inpu1 {
      margin: 0;
      padding: 8px 35px 8px 35px;
      border: 1px solid #F3F3F3;
      background-color: #F3F3F3;
      transition: background-color 200ms;
      font-size: 18px;
      font-weight: 400;
      width: 21rem;
      height: 47px;
  }
  .popsearch {
      width: 27.5rem;
      left: -1px !important;
  }
  .popsearch1 {
      width: 20.5rem;
      left: 1px !important;
  }
}


.container-fa
{
  margin-left: 30px;
  margin-right: 30px;
}

.ifr {
  width: 100vh;
  height: 100vh;
  /* width: 500px; */
  /* height: 500px; */
  position: absolute;
}



.rrr .bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 48px;
  z-index:99999 !important;
}
.ttt .bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;         
  left: 36px;
  top:22px;
  z-index:99999 !important;
}
.rrr .bm-overlay {
  background: rgba(0, 0, 0, 0.55);
  margin-top: 14px;
}
.ttt .bm-overlay {
background: rgba(0, 0, 0, 0.55);

}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}
 
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #f99c1b;
}
 
/* Position and sizing of clickable cross button */
    .bm-cross-button {
  height: 24px;
  width: 24px;
  top:24px;
}
.okjg
{
  padding-top: 2.2rem;
}
 
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
 
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  
}
 
/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 0;
  width:100%;
  font-size: 1.15em;
}
 
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: white;
}
 
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0;
  overflow: hidden;
}
 
/* Individual item */
.bm-item {
  display: inline-block;
  padding-bottom: 16px;
  padding-top: 16px;
  font-size: 16px;
  border-bottom: 1px solid #80808036;
  font-weight: 600;

}
 
/* Styling of overlay */
.bm-overlay {
  background:  rgba(0, 0, 0, 0.55);
}

.mkl-img
{
  width: 18px;
  margin-left: 5px;
}
.loplp
{
  display:block !important;
  padding-left: 28px;
  padding-top:2rem;
  color: black !important;
  text-decoration: none;
}

.klop
{
padding-bottom: 1.8rem;
}

.l-g-t
{
  padding-left: 28px;
  color: black;
  cursor: pointer;
  margin-top: 7.5rem;
  padding-bottom: 1.7rem;
  border-bottom: 1px solid #ccc;
}

.kjl
{
display:flex;

}
.round {
  position: relative;
  right: -14rem;
  top: -1.6rem;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}




/* banner.css */
.banner-style
{
  display: flex;
  /* text-align: center; */
  /* align-items: center; */
  justify-content: center;
  height: 27px;


}  
.banner-Main
{
  background: rgb(0, 0, 0);
  padding-top: 3px;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top:0;
}
.banner-Main p
{
margin:0
}
.banner-btn {
  padding-left: 7px;
  background: white;
  border: 1px solid black;
  outline: none;
  font-size: 16px;
  height: -14px;
  font-weight: 900;
  height: 27px !important;
  font-weight: 500;
  /* padding-top: 6px; */
  position: relative;
  margin-left: 1rem;
  color: black;
  /* border-radius: 8px; */
  padding-right: 7px;
  /* padding-bottom: 6px; */
  /* margin-top: 4px; */
  top: -2px;
}

.n-font-asw
{
position: absolute;
right: 4rem;
font-size: 18px;
cursor: pointer;
top: 5px;
}




.ldTBTR {
right: -60px;
outline: none;
transition: all 0.5s;
border-radius: 35px;
z-index: 1000;
border: none;
min-width: 43px;
border: 1px solid black;
min-height: 43px;
opacity: 1;
color: black;
font-size: 17px;
cursor: pointer;
height: 10px !important;
TOP: 25% !important;
width: 10px !important;
}
.hzJOec {
left: -60px;
right: -60px;
outline: none;
transition: all 0.5s;
border-radius: 35px;
z-index: 1000;
border: none;
min-width: 43px;
border: 1px solid black;
min-height: 43px;
opacity: 1;
color: black;
font-size: 17px;
cursor: pointer;
height: 10px !important;
TOP: 25% !important;
width: 10px !important;
}
@media only screen and (min-width: 1500px) and (max-width:2500px)
{
/* .container {
  max-width: 1300px !important;
} */

}



.borderyes
{
border-bottom:1px solid #80808030 !important

}



.modal-open .modal {

z-index: 999999 !important;
}



.pretty {
position: relative;
display: inline-block;
margin-right: 1em;
white-space: nowrap;
line-height: 1;
left: 85% !important;
top: -139px !important;
}


.pretty.p-icon input:checked~.state .icon {
  opacity: 1;
  font-size: 2rem !important;
  color: #f99c1b !important;
}
.pretty.p-toggle .state.p-off .icon {
color: #bdc3c7;
font-size: 2rem !important;
}
.pretty input {
position: absolute;
left: 0;
top: 0 !important;
min-width: 1em;
width: 34px;
height: 30px;
z-index: 2;
opacity: 0;
margin: 0;
padding: 0;
cursor: pointer;
}

.paragraph-text
{
font-size: 19px;
  color: #808080ba;
  position: relative;
  
}

.pretty.p-toggle input:checked~.state.p-off {
opacity: 0;
display: none;
}
.pretty.p-toggle input:checked~.state.p-on {
opacity: 1;
display: inherit;
}
.pretty.p-toggle .state.p-on {
opacity: 0;
display: none;
}
.pretty.p-toggle .state.p-off {
opacity: 1;
display: inherit;
}
.pretty.p-toggle .state .icon {
opacity: 1;
display: inherit;
}
.pretty.p-icon .state .icon:before {
margin: 0;
width: 100%;
height: 100%;
text-align: center;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
line-height: 1;
}
.Slider-Main-Section-header
{
height: 96vh !important;
}

.Slider-Main-Section
{
height: 96vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Slider-Main-Section-header1
{
height: 100vh !important;
}


/* /api */
.loc-fetch
{
display: flex;
  align-items: center;
  position: absolute;
  bottom: 16px;
  right: 5px;
  color: black;
  font-size: 16px;
}

.loc-signal{
background-color: #14cc14;
height: 10px;
width: 10px;
margin-right: 7px;
border-radius: 50%
}

.user-asw
{
font-size: 25px;
margin-right:11px ;
}

.lg-us
{
display: flex !important;
align-items:center !important;
}