@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
body {
  font-family: Montserrat !important;
}
h1{
  font-family: Montserrat !important;
}
h2{
  font-family: Montserrat !important;

}
h3{
  font-family: Montserrat !important;

}
h4{
  font-family: Montserrat !important;

}