.dahboard-hair{

.h-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 83px;
    padding-left: 3%;
    padding-right: 3%;
    .first{
display: flex;
align-items: center;

#hamburger-icon {
    width: 50px;
    height: 35px;
  
    display: block;
   
  }
  
  #hamburger-icon .line {
    width: 35px;
    background: #fff;
    margin: 8px 0 0 0;
    height: 2px;
    display: block;
    transition: all 800ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .line-1 {
    margin-top: 0;
  }
  
  #hamburger-icon:hover .line-1 {
    width: 30px;
  }
  
  #hamburger-icon:hover .line-2 {
    width: 40px;
  }
  
  #hamburger-icon:hover .line-3 {
    width: 20px;
  }

.logo{
    margin-left: 20px;
}
    }
    .last{
        display: flex;
align-items: center;
        .f-label{
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;
            border: 2px solid #FFFFFF;
border-radius: 20px;
            color: #FFFFFF;
            width: 111px;
            justify-content: center;
            height: 37px;
            margin-bottom: 0px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            transition: 1s;
            z-index: 20;
            &:hover{
            
            }
            &:after {
              background: white;
              content: "";
              height: 155px;
              left: -75px;
              opacity: 1;
              position: absolute;
              top: -50px;
              width: 50px;
              -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
              -webkit-transform: rotate(35deg);
                  -ms-transform: rotate(35deg);
                      transform: rotate(35deg);
              z-index: -10;
            }
            
            &:hover:after {
              left: 120%;
              -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            }
            
            
        }
        .l-label{
            font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 17px;
margin-left: 10px;
display: flex;
align-items: center;
text-align: center;
background: #FFFFFF;
border: 2px solid #FFFFFF;
border-radius: 20px;
color: #000000;
width: 90px;
justify-content: center;
height: 37px;
margin-bottom: 0px;

overflow: hidden;
position: relative;
cursor: pointer;
transition: 1s;
z-index: 20;
&:hover{

}
&:after {
  background: rgb(59, 59, 59);
  content: "";
  height: 155px;
  left: -75px;
  opacity: 1;
  position: absolute;
  top: -50px;
  width: 50px;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  z-index: -10;
}

&:hover:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

        }
    }
}
.dash-section{
    background-color: black;
    display: flex;
    height: 65vh;
    .downarrow{
        display: none ;
    }
    .section-two{
        // background-image: url('../../Logo/sidebanner.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 50%;
        height: 65vh;
        display: flex;
        display: flex;
        justify-content: end;
        align-items: end;
      
        img{
            
    width: 82%;
    height: 95%;
    object-fit: fill;

    
        }

        
    }
  .section-one{
      width: 50%;
      display: flex;
      flex-direction: column;
     
      justify-content: center;
      padding-left: 3%;
      h3{
          display: none;
      }
      h4{
        display: none;
    }
    h5{
        display: none;
    }
      h1{
        font-style: normal;
        font-weight: 500;
        font-size: 43px;
    margin-bottom: 0;
        display: flex;
        align-items: center;
        
        color: #FFFFFF;

        span{
            font-style: normal;
            font-weight: bold;
            font-size: 70px;
            line-height: 61px;
            display: flex;
            align-items: center;
            margin-right: 8px;
            margin-left: 8px;
            color: #C9AB57;
            margin-bottom: 0;
        }

     
      }
      h2{
        font-style: normal;
font-weight: bold;
font-size: 70px;

display: flex;
align-items: center;

color: #C9AB57;
    }
    p{
        font-style: normal;
font-weight: 500;
font-size: 20px;

/* or 200% */
margin-bottom: 0;
display: flex;
align-items: center;

color: #FFFFFF;
    }
    label{
        border: 2px solid #FFFFFF;
border-radius: 20px;
display: flex;
align-items: center;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
display: flex;
align-items: center;
width: 205px;
height: 45px;
justify-content: center;
margin-bottom: 0;
margin-top: 3rem;
color: #FFFFFF;
overflow: hidden;
position: relative;
cursor: pointer;
transition: 1s;
z-index: 20;
&:hover{

}
&:after {
  background: white;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 1;
  position: absolute;
  top: -50px;
  width: 50px;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  z-index: -10;
}

&:hover:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

img{
    margin-right: 10px;
}
    }
  }  
}

.cards
{
    display: flex;
    justify-content: space-between;
    height: calc(35vh - 83px);

    .cards-tite{
        border-left: 1px solid #E7E7E7;
        width: 33.33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    &:nth-child(1)
    {
        border: none
    }
    }
   p{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 0px;
    /* or 286% */
    margin-bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    color: #000000;
    
    
   } 
   h5{
       display: none ;
   }
}
}


@media only screen and (max-width: 800px) {
    .dahboard-hair{

        .h-navbar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: black;
            height: 83px;
            padding-left: 7%;
            padding-right: 7%;
            .first{
        display: flex;
        align-items: center;
        .logo{
            margin-left: 20px;
        }
            }
            .last{
                display: flex;
        align-items: center;
                .f-label{
                    
                    display: none !important;
                    
                    
                }
                .l-label{
      
        
                }
            }
        }
        .dash-section{
            background-color: black;
            display: flex;
            height: calc(100vh - 83px);
            .downarrow{
                position: absolute;
                bottom: 23px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                a{
                    font-style: normal;
font-weight: 800;
font-size: 14px;

/* or 229% */
cursor: pointer;
text-decoration:none ;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
                }
            }
            .section-two{
                // background-image: url('../../Logo/sidebanner.png');
                background-size: 100% 100%;
                background-repeat: no-repeat;
                width: 50%;
                height: calc(100vh - 83px);
                display: none;
            
                justify-content: end;
                align-items: end;
                img{
                    
            width: 82%;
            height: 95%;
            object-fit: fill;
        
            
                }
        
                
            }
          .section-one{
              width: 100%;
              display: flex;
              flex-direction: column;
             
              justify-content: center;
              padding-left: 7%;
              padding-right: 7%;
              label{
                  margin-bottom: 88px;
              }
              h1{
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
            margin-bottom: 0;
                display: flex;
                align-items: center;
                
                color: #FFFFFF;
        
                span{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 21px;
                    line-height: 61px;
                    display: flex;
                    align-items: center;
                    margin-right: 8px;
                    margin-left: 8px;
                    color: #C9AB57;
                    margin-bottom: 0;
                }
        
             
              }
              h5{
                font-style: normal;
                font-weight: bold;
                font-size: 70px;
               margin-bottom: 0;
                display: flex;
                align-items: center;
                
                color: #C9AB57;
              }
              h4{
                font-style: normal;
                font-weight: bold;
                font-size: 70px;
               margin-bottom: 1.5rem;
                display: flex;
                align-items: center;
                
                color: #FFFFFF;
              }
              h2{
                font-style: normal;
        font-weight: bold;
        font-size: 70px;
        
        display: none;
        align-items: center;
        
        color: #C9AB57;
            }
            p{
                font-style: normal;
        font-weight: 500;
        font-size: 15px;
        
        /* or 200% */
        margin-bottom: 0;
        display: none;
        align-items: center;
        
        color: #FFFFFF;
            }
      h3{
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        
        /* or 200% */
        margin-bottom: 0;
        display: flex;
        align-items: center;
        
    line-height: 29px;

        color: #FFFFFF;
      }
    
        
        img{
           
        }
            }
          }  
        }
        
        .cards
        {
            display: block !important;
            justify-content: space-between;
            height: 100vh !important;
        padding-left: 7%;
        padding-right: 7%;
            .cards-tite{
                border-left: 0px solid #E7E7E7 !important;
                border-bottom: 0px solid #E7E7E7;
                width: 100% !important;
                display: flex;
                flex-direction: column;
                align-items: baseline !important;
                justify-content: center;
                height: 33.33% !important;
           
            }
            img{
                width:300px;
            }
            h5{
              
                font-style: normal;
                font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 0;
    display: block !important;
    align-items: center;
    text-align: start;
    margin-top: 10px;
    color: #000000;

            }
           p{
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 0px;
            /* or 286% */
            margin-bottom: 0;
            display: none !important;
            align-items: center;
            text-align: center;
            margin-top: 10px;
            color: #000000;
            
            
           } 
        }
        
        
  }
  