.drp
{
    background-image: url('../../Img/meen.png');
    background-position: center;
    background-size: 33px;
    background-repeat: no-repeat;
    border-radius: 72px;

    margin: 0.3rem 0.3em;
    width: 31px;
    height: 26px;
    box-shadow: 0 1px 16px 4px rgba(0, 0, 0, 0.1);
}
.dropdown-toggle::after {

display: none;
    }


    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 3rem;
        padding-left: 3rem;
        color: #101928;
        height: 39px;
        font-weight: 600;
    }


    .navbar-expand-lg .navbar-nav .nav-link :hover
    {
        color: #101928;
    }
.Ren
    {
        
        height: 57px;
    }
    .dropdown-menu {
    
        left: -135px;

    }

    .img-edit
    {
        width: 123px;
/* padding-left: 24px; */
position: relative;
left: 2rem;
padding-top: 2rem;
padding-bottom: 2rem;
    }

    .img-edit-section
    {
        
box-shadow: 0 1px 16px 4px rgba(0, 0, 0, 0.1);
/* margin: auto; */
width: 184px;
border-radius: 86px;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
    }
    .inputBoxStyle
    {
        display:flex;
        justify-content: space-between;
    }

    .edit-selection .form-control {
    border-top: none;
    border-radius: 0;
    margin-bottom: 1rem;
    border-left: none;
    color: #101928;
    border-right: none;
}
.pop
{
    position: absolute;
    right: 0;
}
.c
{
    color: #101928;   
    font-size: 22px;
}

 .edit-selection .form-control:focus {
    color: #101928;
    background-color: #fff;
    border-color: none;
    outline: 0;
    box-shadow: none;
}
.social-media
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}
.countryCode
{
    border-top: none;
    border-radius: 0;
    border-left: none;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ced4da;
    width: 7rem;
    color: #0d1a3099;
    border-right: none;
}
.countryCode:focus
{
    border-top: none;
    border-radius: 0;
    border-left: none;
    border-bottom: 1px solid #ced4da;
color: #0d1a3099;
    border-right: none;
}
.btn-edit
{
    width: 100%;
}
.edit-selection .modal-dialog {
    max-width: 500px;
}
.edit-selection .modal-content {
    /* height: 772px; */
    width: 500px;
    margin: auto;
}
.changeprofile
{
    text-align: center;
    font-size: 20px;
    color: blue;
    margin-bottom: 2rem;
}
.kml
{
    background-color: #14cc14;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: relative;
    right: -18px;
    top: -1px;
}


.plo
{
    position: absolute;
    top: 50%;
    left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%); 
    -o-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}

.bread-img
{
    width: 47px;

    height: 50px;
    margin-right: 8px;

    color: black;
}